.area{
    padding: 50px;
}

textarea{
    width:100%;
    border-radius: 2px;
    resize: auto !important;
    min-height: 235px;

}


#inputGroup-sizing-default.areatextneg.input-group-text{
    width:100%;
    background-color: red;
    color: #fff
}

#inputGroup-sizing-default.areatextpos.input-group-text{
    width:100%;
    background-color: green;
    color: #fff
}


span#inputGroup-sizing-default.input-group-text{
    min-width: 100px;
}

.buttonForm{
    background-color: #b38808 ;
    color: #fff;
    border: none;
    max-height: 92.5vh;
}