html, body{
    background-image: url(./assets/background/backLogin.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100vw;
    height:100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
    
}
* {
    margin: 0;
    padding: 0;
    
}

.root{
    background-color: #0e0d0df1;
}