html, body{
    background-image: url(./assets/background/backLogin.svg);
    width: 100vw;
    height:100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
    
}
* {
    margin: 0;
    padding: 0;
    
}

.root{
    background-color: #0e0d0df1;
}

.accordion-body , .accordion-item, .accordion-header, 
.accordion-button, .accordion-collapse.collapse, .accordion-item:first-of-type{
    background-color: #05050555 !important;
    color: #fff;
}

textarea{
    background-color: #21252900 ;
    color: #fff;
}

div.card{
    background-color: #21252900 ;
}

input.form-control{
    background-color: #2125295e ;
    color: #fff;
}

span#inputGroup-sizing-default.input-group-text{
    background-color: #2125295e ;
    color: #fff;
    border-bottom-left-radius: 0%;
}

button.accordion-button{
        background-color: #2125295e !important;
        color: #fff !important;
}

button.accordion-button.collapsed{        
    background-color: #2125295e !important;
    color: #fff ;
}

h2.accordion-header{        
    background-color: #c0bbbb5e !important;
    color: #fff ;
}