.user-login {
  background-color: #585b66b0;
    max-width: 400px;
    margin-top: 8%;
    margin-left: 32%;
    border-radius: 20px;
    padding: 30px
  }
  
  .user-login__title {
    font-size: 40px;
    color: #f8f8f8;
    margin-bottom: 50px;
    text-align: center;
  }
  
  .user-login__form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .user-login__form-control label {
    margin-bottom: 5px;
    color: #f8f5f5;
    font-size: 16px;
  }
  
  .user-login__form-control input {
    border-radius: 4px;
    border: 1px solid #BBBBBB;
    height: 36px;
    padding: 5px 10px;
  }
  
  .user-login__submit-button {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  @media (max-width: 768px) {

    .user-login {
      margin-top: 25%;
      margin-left: 5%;
      margin-right: 5%;
      border-radius: 20px;
      padding: 30px
    }
    
  }